<div mat-dialog-content>
    <form id="add-trade-form" [formGroup]="addTradeFormGroup" autocomplete="off">
        <div class="add-trade-form-inputs-wrapper">
            <div class="add-form-inputs">
                <div class="add-form-header">
                    <h6>Trade Entry</h6>
                </div>
                <mat-form-field>
                    <mat-label>Stock</mat-label>
                    <input matInput type="text" placeHolder="Stock" formControlName="stock" required>
                    <mat-error *ngIf="stock.hasError('required')">
                        This field is required.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions align="end">
            <button mat-stroked-button mat-dialog-close (click)= "onNoClick()">CANCEL</button>
            <button mat-stroked-button (click)="onReset()">RESET</button>
            <button mat-stroked-button [disabled]="!addTradeFormGroup.valid" (click)="onSubmit()">ADD</button>
        </div>

    </form>

</div>
