<div mat-dialog-content>
    <form id="add-trade-form" [formGroup]="editTradeFormGroup" autocomplete="off">
        <div class="add-trade-form-inputs-wrapper">
            <div class="add-form-inputs">
                <div class="add-form-header">
                    <h6>Trade Entry</h6>
                </div>
                <mat-form-field>
                    <mat-label>Stock</mat-label>
                    <input matInput type="text" placeHolder="Stock" formControlName="stock" required>
                    <mat-error *ngIf="stock.hasError('required')">
                        This field is required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Entry Price</mat-label>
                    <input matInput type="number" placeHolder="Entry Price" formControlName="entryPrice" required>
                    <mat-error *ngIf="entryPrice.hasError('required')">
                        This field is required.
                    </mat-error>
                    <mat-error *ngIf="entryPrice.hasError('pattern')">
                        Please enter valid price.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Entry Date</mat-label>
                    <input matInput type="date" placeHolder="Entry Date" formControlName="entryDate" required>
                    <mat-error *ngIf="entryDate.hasError('required')">
                        This field is required.
                    </mat-error>
                    <mat-error *ngIf="entryDate.hasError('dateVaidator')">
                        Please enter valid date.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Trade Type</mat-label>
                    <input matInput type="text" placeHolder="Trade Type" formControlName="tradeType" required>
                    <mat-error *ngIf="tradeType.hasError('required')">
                        This field is required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Trade Direction</mat-label>
                    <input matInput type="text" placeHolder="Trade Direction" formControlName="shortLong" required>
                    <mat-error *ngIf="shortLong.hasError('required')">
                        This field is required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Chart Pattern</mat-label>
                    <input matInput type="text" placeHolder="Chart Pattern" formControlName="chartPattern" required>
                    <mat-error *ngIf="chartPattern.hasError('required')">
                        This field is required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Exit Price</mat-label>
                    <input matInput type="number" placeHolder="Exit Price" formControlName="exitPrice">
                    <mat-error *ngIf="exitPrice.hasError('pattern')">
                        Please enter valid price.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Exit Date</mat-label>
                    <input matInput type="date" placeHolder="Exit Date" formControlName="exitDate">
        
                    <mat-error *ngIf="exitDate.hasError('dateVaidator')">
                        Please enter valid date.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Comments After Buy</mat-label>
                    <input matInput type="text" placeHolder="Comments After Buy" formControlName="commentsAfterBuy">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Comments After Sell</mat-label>
                    <input matInput type="text" placeHolder="Comments After Sell" formControlName="commentsAfterSell">
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions align="end">
            <button mat-stroked-button mat-dialog-close (click)= "onNoClick()">CANCEL</button>
            <button mat-stroked-button (click)="onReset()">RESET</button>
            <button mat-stroked-button [disabled]="!editTradeFormGroup.valid" (click)="onSubmit()">EDIT</button>
        </div>

    </form>

</div>
