table {
    width: 100%;
    padding: 15px;
}

th.mat-header-cell {
  text-align: center !important;
}

td, th{
    width: 32px;
    border: 1px solid currentColor;
    text-align: center
}
      
.mat-row:nth-child(odd){
  background-color: rgba(0,0,0,.05);
}

h3 {
  color: #7c795d; 
  font-family: 'Trocchi', serif; 
  font-size: 25px; 
  font-weight: normal; 
  line-height: 48px; 
  margin: 5px;
  text-align: center;
}

.year {
  text-decoration: underline;
  cursor: pointer;
}
  
  
