table {
    width: 100%;
    padding: 15px;
}

th.mat-header-cell {
  text-align: center !important;
  padding: 3px;
}

td, th{
    border: 1px solid currentColor;
    text-align: center;
    padding: 3px;
}

.mat-cell {
  padding: 3px;
}
      
.mat-row:nth-child(odd){
  background-color: rgba(0,0,0,.05);
}

.action-cell {
  display: inline-flex;
}


td.mat-cell:first-of-type {
  padding-left: 3px !important;
}



