<mat-card>
    <mat-card-header>
        <mat-card-title>Trade Details</mat-card-title>
    </mat-card-header>
    <button mat-icon-button aria-lable="Add Trade" (click)="addTrade()">
        <mat-icon>add_box</mat-icon>
    </button>
    <mat-card-content>
        <table mat-table [dataSource]="tradesDataSource">

            <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="Stock">
                <th mat-header-cell *matHeaderCellDef> Stock </th>
                <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
            </ng-container>

            <ng-container matColumnDef="Entry Price">
                <th mat-header-cell *matHeaderCellDef> Entry Price </th>
                <td mat-cell *matCellDef="let element"> {{element.entryPrice}} </td>
            </ng-container>

            <ng-container matColumnDef="Entry Date">
                <th mat-header-cell *matHeaderCellDef> Entry Date </th>
                <td mat-cell *matCellDef="let element"> {{element.entryDate}} </td>
            </ng-container>

            <ng-container matColumnDef="Stop Loss">
                <th mat-header-cell *matHeaderCellDef> Stop Loss </th>
                <td mat-cell *matCellDef="let element"> {{element.stopLoss}} </td>
            </ng-container>

            <ng-container matColumnDef="Amount Risked">
                <th mat-header-cell *matHeaderCellDef> Amount Risked </th>
                <td mat-cell *matCellDef="let element"> {{element.amountRisked}} </td>
            </ng-container>

            <ng-container matColumnDef="Risk Per Position">
                <th mat-header-cell *matHeaderCellDef> Risk Per Position </th>
                <td mat-cell *matCellDef="let element"> {{element.riskPercentPosition}}% </td>
            </ng-container>

            <ng-container matColumnDef="Risk Per Portfolio">
                <th mat-header-cell *matHeaderCellDef> Risk Per Portfolio </th>
                <td mat-cell *matCellDef="let element"> {{element.riskPercentPortfolio}}% </td>
            </ng-container>

            <ng-container matColumnDef="Exit Price">
                <th mat-header-cell *matHeaderCellDef> Exit Price </th>
                <td mat-cell *matCellDef="let element"> {{element.exitPrice}} </td>
            </ng-container>

            <ng-container matColumnDef="Exit Date">
                <th mat-header-cell *matHeaderCellDef> Exit Date </th>
                <td mat-cell *matCellDef="let element"> {{element.exitDate}} </td>
            </ng-container>

            <ng-container matColumnDef="Profitable">
                <th mat-header-cell *matHeaderCellDef> Profitable </th>
                <td mat-cell *matCellDef="let element"> {{element.isProfitable}} </td>
            </ng-container>

            <ng-container matColumnDef="Trade Type">
                <th mat-header-cell *matHeaderCellDef> Trade Type </th>
                <td mat-cell *matCellDef="let element"> {{element.tradeType}} </td>
            </ng-container>

            <ng-container matColumnDef="Trade Direction">
                <th mat-header-cell *matHeaderCellDef> Trade Direction </th>
                <td mat-cell *matCellDef="let element"> {{element.shortLong}} </td>
            </ng-container>

            <ng-container matColumnDef="Chart Pattern">
                <th mat-header-cell *matHeaderCellDef> Chart Pattern </th>
                <td mat-cell *matCellDef="let element"> {{element.chartPattern}} </td>
            </ng-container>

            <ng-container matColumnDef="Comments After Buy">
                <th mat-header-cell *matHeaderCellDef> Comments After Buy </th>
                <td mat-cell *matCellDef="let element"> {{element.commentsAfterBuy}}</td>
            </ng-container>

            <ng-container matColumnDef="Comments After Sell">
                <th mat-header-cell *matHeaderCellDef> Comments After Sell </th>
                <td mat-cell *matCellDef="let element"> {{element.commentsAfterSell}}</td>
            </ng-container>

            <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button aria-label="Edit Trade" class="trade-edit-button"
                        (click)="updateTrade(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Delete Trade" class="trade-delete-button"
                        (click)="deleteTrade(element.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Show More" (click)="showMoreButtonClicked()">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="Show More">
                <th mat-header-cell *matHeaderCellDef> Show More</th>
                <td mat-cell *matCellDef="let element"> {{element.showMore}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [style.backgroundColor]="row.isProfitable == 'Y' ? 'greenyellow':'rgb(240, 144, 144)'"></tr>

        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>

    </mat-card-content>
</mat-card>